/* RESET */ 
* {
    margin: 0;
    padding: 3rem;
    box-sizing: border-box;}

body{
    font-size: 3rem;
}

button{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

#your-number, #computer-number{
    font-size: 3rem;
    font-weight: 600;
    padding: 4rem;
    background-color: rgb(217, 224, 230);
    margin-left: 2rem;
    display: none;
    margin: 1.5rem 0;
}

#computer-number{
    background-color: orange;
}

#your-number.visible, #computer-number.visible{
    display: block;
    
}

#user-message{
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: red;
    font-size: 5rem;
}